[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
src = {editable = true, path = "./src"}
flask = "*"
flask-cors = "*"
boto3 = "*"
pandas = "*"
openpyxl = "*"
aws-wsgi = "*"
matplotlib = "*"
requests = "*"

[requires]
python_version = "3.10"
